bin/
obj/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb
*.nupkg
*.snupkg

node_modules/
dist/
.vs/
.idea/
*.swp
*.swo

**/.env
**/.env.local
**/.env.*.local

Thumbs.db
.DS_Store
Desktop.ini

*.log
appsettings.Development.json
appsettings.Production.json
**/*.secret
**/*.key
