# .NET
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb
*.nupkg
*.snupkg
launchSettings.json

# Node / React
node_modules/
dist/
.env
.env.local
.env.*.local

# IDE
.vs/
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store
Desktop.ini

# Misc
*.log
appsettings.Development.json
**/appsettings.json
